*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('water.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:25%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 0px 5px black ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.timer{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 120px;

}
.start-stop-btn{
    background-color: green;
}
.reset-btn{
    background-color: red;
}
.start-stop-btn,.reset-btn{
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}
.start-stop-btn:hover,.reset-btn:hover{
    filter: brightness(0.8);
}